:root {
  --lines-color: whitesmoke;
  --lightest-gray-color: whitesmoke;
  --bg-color: white;
  --bg-chat-color: #e5ded8;
  --gray-color: gray;
  --hover-bg-color: rgba(0, 0, 0, 0.04);
  --hover-bg-darken-color: rgba(0, 0, 0, 0.1);
  --logo-color: #3cbc28;
  --transition: all 0.2s;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
